Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
requests==2.21.0
Flask-Redis==0.3.0
Flask-Login
Flask-WTF==0.14.2
WTForms==2.2.1
WTForms-Components==0.10.4
WTForms-SQLAlchemy==0.1
Werkzeug==0.16.0
Click==7.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
