<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SOMO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/img/favicon.ico')}}">

        <!-- CSS here -->
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/flaticon.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slicknav.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/animate.min.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/magnific-popup.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/fontawesome-all.min.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/themify-icons.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slick.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/nice-select.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/modal.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='assets/css/modalutil.css')}}">
   </head>

   <body>
    {%block content%}{%endblock content%}
    <!-- All JS Custom Plugins Link Here here -->
        <script src="{{url_for('static',filename='assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="{{url_for('static',filename='assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/popper.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
        <!-- Jquery Mobile Menu -->
        <script src="{{url_for('static',filename='assets/js/jquery.slicknav.min.js')}}"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{url_for('static',filename='assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/slick.min.js')}}"></script>
        <!-- Date Picker -->
        <script src="{{url_for('static',filename='assets/js/gijgo.min.js')}}"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="{{url_for('static',filename='assets/js/wow.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/animated.headline.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.magnific-popup.js')}}"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="{{url_for('static',filename='assets/js/jquery.scrollUp.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.sticky.js')}}"></script>

        <!-- contact js -->
        <script src="{{url_for('static',filename='assets/js/contact.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.form.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/mail-script.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.ajaxchimp.min.js')}}"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="{{url_for('static',filename='assets/js/plugins.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

    </body>
</html>
