<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/modal.css">
            <link rel="stylesheet" href="assets/css/modalutil.css">
</head>
<body>

     <!-- Preloader Start -->
     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><div class="do-btn">
                                            <a href="#" data-toggle="modal" data-target="#lessonModal"><i class="material-icons">add</i>START A LESSON</a>
                                        </div></li>
                                        <li><div class="do-btn">
                                            <a href="#" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i>ADD QUESTION</a>
                                        </div></li>
                                        <li><a href="#"> ANSWER QUESTIONS</a></li>

                                        <li><a href="#"><i class="material-icons">account_circle</i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">Sign Out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <!--MAIN BODY-->

    <main>


        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>questions to poulate this area</h2>
                        </div>
                    </div>
                </div>



                </div>
            </div>
        </div>
        <!-- What We do End-->




    </main>
     <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                ADD QUESTION
                </span>

                <div class="wrap-input100 validate-input m-b-20">
                   <SElect class="input100">
                       <option value="">CLASS</option>
                       <option value="">ONE</option>
                       <option value="">TWO</option>
                       <option value="">THREE</option>
                       <option value="">FOUR</option>
                       <option value="">FIVE</option>
                       <option value="">SIX</option>
                       <option value="">SEVEN</option>
                       <option value="">EIGHT</option>
                   </SElect>
                    <span class="focus-input100"></span>
                </div><br><br><br>

                <div class="wrap-input100 validate-input m-b-20" >
                    <SElect class="input100">
                        <option value="">SUBJECT</option>
                        <option value="">English</option>
                        <option value="">Kiswahili</option>
                        <option value="">Mathematics</option>
                        <option value="">Science</option>
                        <option value="">Social Studies</option>
                        <option value="">C.R.E</option>
                    </SElect>
                     <span class="focus-input100"></span>
                 </div><br><br><br>
                 <div class="wrap-input100 validate-input m-b-20" >
                    <SElect class="input100">
                        <option value="">TOPIC</option>
                        <option value="">Human Body</option>
                        <option value="">Water</option>
                        <option value="">Soil</option>
                        <option value="">Sanitation</option>
                        <option value="">Covid 19</option>
                    </SElect>
                     <span class="focus-input100"></span>
                 </div><br><br><br>
                 <div  class="wrap-input100 validate-input m-b-20">
                 <textarea class="input100" placeholder="your question"></textarea><br><br><br>
                </div>
                <div class="wrap-input100 validate-input m-b-20" >
                    <label for="pass">Option A</label>
                    <input class="" type="text" name="pass" id="pass" >
                     <span class="focus-input100"></span>
                 </div>
                 <div class="wrap-input100 validate-input m-b-20" >
                    <label for="pass">Option B</label>
                    <input class="" type="text" name="pass" id="pass" >
                     <span class="focus-input100"></span>
                 </div>
                 <div class="wrap-input100 validate-input m-b-20" >
                    <label for="pass">Option C</label>
                    <input class="" type="text" name="pass" id="pass" >
                     <span class="focus-input100"></span>
                 </div>
                <div class="row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">A</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">B</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">C</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">D</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                        <label class="form-check-label" for="inlineRadio3"> (Correct Answer)</label>
                      </div>
                </div><br><br>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                       SUBMIT
                    </button>
                </div>
            </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

     <!-- Modal -->
     <div class="modal fade" id="lessonModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-37">
                    ADD QUESTION
                    </span>

                    <div class="wrap-input100 validate-input m-b-20">
                       <SElect class="input100">
                           <option value="">CLASS</option>
                           <option value="">ONE</option>
                           <option value="">TWO</option>
                           <option value="">THREE</option>
                           <option value="">FOUR</option>
                           <option value="">FIVE</option>
                           <option value="">SIX</option>
                           <option value="">SEVEN</option>
                           <option value="">EIGHT</option>
                       </SElect><!-- All JS Custom Plugins Link Here here -->
        <script src="{{url_for('static',filename='assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{url_for('static',filename='assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/popper.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
      <!-- Jquery Mobile Menu -->
        <script src="{{url_for('static',filename='assets/js/jquery.slicknav.min.js')}}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{url_for('static',filename='assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/slick.min.js')}}"></script>
        <!-- Date Picker -->
        <script src="{{url_for('static',filename='assets/js/gijgo.min.js')}}"></script>
    <!-- One Page, Animated-HeadLin -->
        <script src="{{url_for('static',filename='assets/js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/animated.headline.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.magnific-popup.js')}}"></script>

    <!-- Scrollup, nice-select, sticky -->
        <script src="{{url_for('static',filename='assets/js/jquery.scrollUp.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery.sticky.js')}}"></script>

        <!-- contact js -->
        <script src="{{url_for('static',filename='assets/js/contact.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.form.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/mail-script.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.ajaxchimp.min.js')}}"></script>

    <!-- Jquery Plugins, main Jquery -->
        <script src="{{url_for('static',filename='assets/js/plugins.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

    </body>
</html>
                        <span class="focus-input100"></span>
                    </div><br><br><br>

                    <div class="wrap-input100 validate-input m-b-20" >
                        <SElect class="input100">
                            <option value="">SUBJECT</option>
                            <option value="">English</option>
                            <option value="">Kiswahili</option>
                            <option value="">Mathematics</option>
                            <option value="">Science</option>
                            <option value="">Social Studies</option>
                            <option value="">C.R.E</option>
                        </SElect>
                         <span class="focus-input100"></span>
                     </div><br><br><br>
                     <div class="wrap-input100 validate-input m-b-20" >
                        <SElect class="input100">
                            <option value="">TOPIC</option>
                            <option value="">Human Body</option>
                            <option value="">Water</option>
                            <option value="">Soil</option>
                            <option value="">Sanitation</option>
                            <option value="">Covid 19</option>
                        </SElect>
                         <span class="focus-input100"></span>
                     </div><br><br><br>
                     <div  class="wrap-input100 validate-input m-b-20">
                    </div>
                    <div class="wrap-input100 validate-input m-b-20" >
                        <input class="" type="file" name="pass" id="pass" >
                         <span class="focus-input100"></span>
                     </div>



                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                           SUBMIT
                        </button>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>


</body>
</html>
